{% extends "base.html" %}
{% block title %}Professional Dashboard{% endblock %}

{% block content %}
<h2>Today's Services</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Service</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for service_request in service_requests %}
        <tr>
            <td>{{ cust_dict[service_request.customer_id].full_name }}</td>
            <td>{{ service_dict[service_request.service_id].name }}</td>
            <td>{{ service_request.service_status }}</td>
            <td>
                <a href="/professional/update_request_status/accept/{{ service_request.id }}" class="btn btn-success">Accept</a>
                <a href="/professional/update_request_status/reject/{{ service_request.id }}" class="btn btn-danger">Reject</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Rejected/Accepted/Closed Services</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Service</th>
            <th>Status</th>
            <th>Completion Date</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        {% for service_request_closed in service_requests_closed %}
        <tr>
            <td>{{ cust_dict[service_request_closed.customer_id].full_name }}</td>
            <td>{{ service_dict[service_request_closed.service_id].name }}</td>
            <td>{{ service_request_closed.service_status }}</td>
            <td>{{ service_request_closed.date_of_completion if service_request_closed.date_of_completion else "" }}</td>
            <td>{{ service_request_closed.remarks if service_request_closed.date_of_completion else "" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
